Projects/MEDICHATPRORAG/medichatpro/
Projects/INVOICE_GENERATOR/.invoice-env/
AgenticAI/CrewAI/RESUME_ATS_AGENT/.crew/
Projects\Ai_recommender_agent_main\frontend\node_modules
C:\GenAICourse\Projects\GenaiBasedrecomendation_system\frontend\node_modules